<p class="h4 text-center mb-4">Profile</p>
<div class="container card-body card">
  <p>
    <strong>Firstname:</strong>
    <%= @patient.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= @patient.lastname %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= @patient.age %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= @patient.dobb %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= @patient.gender %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= @patient.phone %>
  </p>

  <p>
    <strong>Free text:</strong>
    <%= @patient.free_text %>
  </p>
</div>

<%= link_to '<- Back', patients_path, class:"btn btn-brown" %>
<%= link_to 'Edit', edit_patient_path(@patient), class:"btn btn-primary" %>
<p class="bottom-right" id="notice">helllo<%= notice %></p>
